name: tempest
version: ${TEMPEST_VERSION}
summary: The OpenStack Integration Test Suite
description: This is a set of integration tests to be run against a live OpenStack cluster. Tempest has batteries of tests for OpenStack API validation, Scenarios, and other specific tests useful in validating an OpenStack deployment.
confinement: strict

apps:
    tempest:
        command: usr/bin/tempest
        plugs: [
            network,      # tempest has to reach the openstack APIs.
            network-bind, # urllib3 tests binding to an IPv6 address.
        ]

parts:
    ceilometer:
        plugin: python2
        source: git://git.openstack.org/openstack/ceilometer
        stage:
            - $ceilometer-tempest-duplicates
        filesets:
            ceilometer-tempest-duplicates:
                - -usr/lib/python2.7/dist-packages/netifaces.so
                - -usr/lib/python2.7/dist-packages/msgpack/*.so
                - -usr/lib/python2.7/dist-packages/wrapt/*.so
    cinder:
        plugin: python2
        source: git://git.openstack.org/openstack/cinder
        stage:
            - $cinder-ceilometer-duplicates
            - $cinder-tempest-duplicates
        filesets:
            cinder-ceilometer-duplicates:
                - -usr/lib/python2.7/dist-packages/_psutil_linux.so
                - -usr/lib/python2.7/dist-packages/_psutil_posix.so
                - -usr/lib/python2.7/dist-packages/greenlet.so
                - -usr/lib/python2.7/dist-packages/lxml/*.so
                - -usr/lib/python2.7/dist-packages/markupsafe/*.so
                - -usr/lib/python2.7/dist-packages/simplejson/*.so
                - -usr/lib/python2.7/dist-packages/sqlalchemy/*.so
            cinder-tempest-duplicates:
                - -usr/lib/python2.7/dist-packages/_cffi_backend.so
                - -usr/lib/python2.7/dist-packages/cryptography/hazmat/bindings/*.so
                - -usr/lib/python2.7/dist-packages/msgpack/*.so
                - -usr/lib/python2.7/dist-packages/netifaces.so
                - -usr/lib/python2.7/dist-packages/wrapt/*.so
    congress:
        plugin: python2
        source: git://git.openstack.org/openstack/congress
        stage:
            - $congress-ceilometer-duplicates
            - $congress-cinder-duplicates
            - $congress-tempest-duplicates
        filesets:
            congress-ceilometer-duplicates:
                - -usr/lib/python2.7/dist-packages/greenlet.so
                - -usr/lib/python2.7/dist-packages/lxml/*.so
                - -usr/lib/python2.7/dist-packages/markupsafe/*.so
                - -usr/lib/python2.7/dist-packages/simplejson/*.so
                - -usr/lib/python2.7/dist-packages/sqlalchemy/*.so
            congress-cinder-duplicates:
                - -usr/lib/python2.7/dist-packages/site.pyo
                - -usr/lib/python2.7/dist-packages/suds/*
                - -usr/lib/python2.7/dist-packages/tests/*
                - -usr/lib/python2.7/*.pyo
                - -usr/lib/python2.7/distutils/*.pyo
                - -usr/lib/python2.7/encodings/*.pyo
                - -usr/lib/python2.7/plat-x86_64-linux-gnu/*.pyo
            congress-tempest-duplicates:
                - -usr/lib/python2.7/dist-packages/_cffi_backend.so
                - -usr/lib/python2.7/dist-packages/cryptography/hazmat/bindings/*.so
                - -usr/lib/python2.7/dist-packages/msgpack/*.so
                - -usr/lib/python2.7/dist-packages/netifaces.so
                - -usr/lib/python2.7/dist-packages/pyparsing.py
                - -usr/lib/python2.7/dist-packages/wrapt/*.so
    freezer:
        plugin: python2
        source: git://git.openstack.org/openstack/freezer
        stage:
            - $freezer-ceilometer-duplicates
            - $freezer-tempest-duplicates
        filesets:
            freezer-ceilometer-duplicates:
                - -usr/lib/python2.7/dist-packages/simplejson/*.so
                - -usr/lib/python2.7/dist-packages/_psutil_linux.so
                - -usr/lib/python2.7/dist-packages/_psutil_posix.so
            freezer-tempest-duplicates:
                - -usr/lib/python2.7/dist-packages/_cffi_backend.so
                - -usr/lib/python2.7/dist-packages/cryptography/hazmat/bindings/*.so
                - -usr/lib/python2.7/dist-packages/msgpack/*.so
                - -usr/lib/python2.7/dist-packages/netifaces.so
                - -usr/lib/python2.7/dist-packages/wrapt/*.so
    freezer-api:
        plugin: python2
        source: git://git.openstack.org/openstack/freezer
        stage:
            - $freezer-api-ceilometer-duplicates
            - $freezer-api-freezer-duplicates
            - $freezer-api-tempest-duplicates
        filesets:
            freezer-api-ceilometer-duplicates:
                - -usr/lib/python2.7/dist-packages/simplejson/_speedups.so
            freezer-api-freezer-duplicates:
                - -usr/lib/python2.7/dist-packages/bson/*.so
                - -usr/lib/python2.7/dist-packages/pymongo/*.so
                - -usr/lib/python2.7/dist-packages/_psutil_linux.so
                - -usr/lib/python2.7/dist-packages/_psutil_posix.so
            freezer-api-tempest-duplicates:
                - -usr/lib/python2.7/dist-packages/_cffi_backend.so
                - -usr/lib/python2.7/dist-packages/cryptography/hazmat/bindings/*.so
                - -usr/lib/python2.7/dist-packages/msgpack/*.so
                - -usr/lib/python2.7/dist-packages/netifaces.so
                - -usr/lib/python2.7/dist-packages/wrapt/*.so
    gnocchi:
        plugin: python2
        source: git://git.openstack.org/openstack/gnocchi
        stage:
            - $gnocchi-ceilometer-duplicates
            - $gnocchi-tempest-duplicates
        filesets:
            gnocchi-ceilometer-duplicates:
                - -usr/lib/python2.7/dist-packages/markupsafe/_speedups.so
                - -usr/lib/python2.7/dist-packages/simplejson/_speedups.so
                - -usr/lib/python2.7/dist-packages/setproctitle.so
            gnocchi-tempest-duplicates:
                - -usr/lib/python2.7/dist-packages/msgpack/*.so
                - -usr/lib/python2.7/dist-packages/netifaces.so
                - -usr/lib/python2.7/dist-packages/wrapt/*.so
    heat:
        plugin: python2
        source: git://git.openstack.org/openstack/heat
        stage:
            - $heat-ceilometer-duplicates
            - $heat-tempest-duplicates
        filesets:
            heat-ceilometer-duplicates:
                - -usr/lib/python2.7/dist-packages/_psutil_linux.so
                - -usr/lib/python2.7/dist-packages/_psutil_posix.so
                - -usr/lib/python2.7/dist-packages/greenlet.so
                - -usr/lib/python2.7/dist-packages/lxml/*.so
                - -usr/lib/python2.7/dist-packages/markupsafe/*.so
                - -usr/lib/python2.7/dist-packages/simplejson/*.so
                - -usr/lib/python2.7/dist-packages/sqlalchemy/*.so
            heat-tempest-duplicates:
                - -usr/lib/python2.7/dist-packages/_cffi_backend.so
                - -usr/lib/python2.7/dist-packages/cryptography/hazmat/bindings/*.so
                - -usr/lib/python2.7/dist-packages/msgpack/*.so
                - -usr/lib/python2.7/dist-packages/netifaces.so
                - -usr/lib/python2.7/dist-packages/wrapt/*.so
    tempest:
        plugin: python2
        source: .
